:root {
  --main-color: #2196f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}

.container {
  padding: 0 30px;
  margin: auto;
  max-width: 900px;
}

.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}

.message span {
  font-weight: bold;
  color: #009688;
}

.message span::before {
  content: "[ ";
}

.message span::after {
  content: " ]";
}

ul{
  display: flex;
  justify-content: start;
  align-items: center;
  gap:15px;
  list-style: none;
  margin-top: 20px;
  li{
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #1d7ece;
    }
    &.active{
      background-color: #83c0ef;
      color: white;
    }
  }
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  color: white;
  padding: 20px;
  cursor: pointer;
}

.start:hover{
  background-color: #038275;
}

.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  user-select: none;
}

.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}

.input:focus {
  outline: none;
}

.remain{
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}

.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

@media (max-width:414px) {
  .control {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.control span {
  font-weight: bold;
  color: #009688;
}

.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

.finish .good {
  color: #038275;
}

.finish .bad {
  color: red;
}